<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="FacturaConexion" 
			connectionString="Database = Factura; Server = HP01; User = sa; Pwd = Pa$$word; MultipleActiveResultSets = True" providerName="System.Data.SqlClient"  
		/>
	</connectionStrings>
</configuration>